<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/style.css" />
    <link rel="stylesheet" href="../../static/css/util.css" />
    <link rel="stylesheet" href="../../static/css/mobile.css" />
    <link rel="stylesheet" href="../../static/css/typewriter.css" />
    <title>IIITDWD Player Manager</title>
  </head>

  <body>
    <nav class="max-width-1 navigation">
      <div class="nav-left">
        <ul>
            <li><a href="/">Home</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/update">Update</a></li>
          <li><a href="/insert">Insert</a></li>
          <li><a href="/delete">Delete</a></li>
          <li><a href="/display">Database</a></li>
        </ul>
      </div>
    </nav>
    <div class="max-width-1">
      <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>



      </div>
    </div>
    <div class="search-set wrapper1">

        <h1>Delete a Record</h1>
        <form class="example" method="post" action="/delete">
            <input type="number" placeholder="Delete by player_id" class="search-input" name="player_id">
            <button type="submit" class="search-input-btn btn">Delete
            </button>
        </form>
        <p></p>


    </div>
    <footer class="footer m-auto flex-all-center">
        <p>Copyright &copy; IIIT</p>
      </footer>

    <script src="js/logic.js"></script>
    <script src="js/logic_heading.js"></script>
  </body>
</html>